// font family
$font-family-sans-serif: "Roboto", sans-serif;
$font-family-base: $font-family-sans-serif;
$font-family-secondary: "Karla", sans-serif;

// font sizes
$font-size-base: 0.9rem;
$font-weight-bold: 700;
$headings-font-weight: 400;
$headings-line-height: 1.1;

$h1-font-size: 2.25rem;
$h2-font-size: 1.875rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.125rem;
$p1-font-size: 1rem;
$p2-font-size: 0.8rem;

// Main Colors
$primary: #64bc7f;
$secondary: #675aa9;
$background-color: #f5f5f5;
$grey: #dcdcdc;
$yellow: #ffd650;

// Font  Colors
$primary-font-color: #000;
$secondary-font-color: #fff;
// font weights
$font-weight-bold: 600;
$font-weight-regular: 400;

//Padding sizes
$padding-sm: 8px;
$padding-15: 15px;
$padding-25: 25px;
//Margin sizes
$margin-sm: 8px;
$margin-md: 15px;
$margin-lg: 25px;
